Button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border: none;
    border-radius: 9rem;
}

.component-button {
    display: inline-flex;
    width: 18%;
    flex: 1 0 auto;
    margin: 5px;
}

.btn {
    width: 50px;
    height: 50px;
}

.btn:hover {
    background: var(--grey);
    color: #fff;
}

.component-button.wide {
    width: 42%;
    text-align: left !important;
}

.component-button button {
    background: var(--greyExtraLight);
    border: 0;
    font-size: 26px;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
}

.component-button.orange button {
    background: var(--orange);
    color: #fff;
}

.component-button.orange button:hover {
    background: var(--orangeLight);
    color: #000;
}

.component-button.green button {
    background: #5f9c4b;
    color: #fff;
}

.component-button.green button:hover {
    background: #5bd035;

}

.component-button.grey button {
    background: var(--greyDark);
    color: #fff;
}

.component-button.grey button:hover {
    background: var(--greyLight);
    color: #000;
}

@media (min-width: 369px) and (max-width: 767px) {
    .component-button {
        width: 26%;
        margin: 0.4px;
    }

    .component-button.wide {
        width: 53%;
    }

    .component-button button {
        margin: 2px 7px 1px 2px;
    }

}

@media (min-width: 768px) {
    .component-button {
        width: 23%;
        margin: 4px;
    }

    .component-button.wide {
        width: 48%;
    }

    .component-button button {
        margin: 5px 3px 0 0;
    }

    .btn {
        width: 90px;
        height: 90px;
    }

    .component-button button {
        font-size: 40px;
    }

}

@media (min-width: 1024px) {
    .component-button {
        width: 20%;
    }

    .btn {
        width: 80px;
        height: 80px;
    }

    .component-button.wide {
        width: 45%;
    }

    .component-button button {
        font-size: 2em;
    }
}