.component-display{
    color: #fff;
    text-align: right;
    padding: 15px 10px;
    width: 100%;
}

.component-display > div{
    font-size: 100px;
    margin-right: 10px;
}

/* Media queries para pantallas de 368px */
@media (max-width: 368px) {
    .component-display > div {
        font-size: 60px;
    }
}

/* Media queries para pantallas de 768px */
@media (min-width: 369px) and (max-width: 768px) {
    .component-display > div {
        font-size: 80px;
    }
}

/* Media queries para pantallas de 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .component-display > div {
        font-size: 90px;
    }
}