.component-button-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background: #000;
}

.component-button-panel > div{
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    margin-bottom: 1px;
}

/* Media queries para pantallas de 768px */
@media (min-width: 768px) {
    .component-button-panel {
        padding: 8px;
    }
}

/* Media queries para pantallas de 1024px */
@media (min-width: 1024px) {
    .component-button-panel > div {
        width: 100%;
    }
}