.component-calculator{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 200px;
  margin-left: 400px;
  margin-right: 400px;
}

.container-calculator {
  background: #000;
  padding: 20px;
  border-radius: 32px;
}