:root{
  --colorPrimary: #201C1C;
  --orange: #FF8F17;
  --grey: #6C6967;
  --greyDark: #3D3B39;
  --greyLight: #87827E;
  --greyExtraLight: #D8D3CD;
  --orangeLight: #FFC88E;
} 

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorPrimary);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
